<div class="menu">
    <div class="curtainWrap">
    <div class="curtain"><p class="whiteSquare"></p><p class="border"></p></div>
    <div class="curtain"><p class="whiteSquare"></p><p class="border"></p></div>
    <div class="curtain"><p class="whiteSquare"></p><p class="border"></p></div>
    <div class="curtain"><p class="whiteSquare"></p><p class="border"></p></div>
    <div class="curtain"><p class="whiteSquare"></p><p class="border"></p></div>
    <div class="curtain"><p class="whiteSquare"></p><p class="border"></p></div>
    <div class="curtain"><p class="whiteSquare"></p><p class="border"></p></div>
    </div>
    <div class="menuContainer">
        <ul class="menuWrap">
            <li><a href="index.html"><p>about us</p></a></li>
            <!-- <li><a href="javascript:void(0)"><p>works</p></a></li> -->
            <li><a href="work.html"><p>works</p></a></li>
            <li class="dep2"><a href="workdetail.html?type=brand"><p>brand content</p><span id="brandIndex"></span></a></li>
            <li class="dep2"><a href="workdetail.html?type=film"><p>new media</p><span id="filmIndex"></span></a></li>
            <li><a href="recruit.html"><p>recruit</p></a></li>
            <li><a href="contactus.html"><p>contact</p></a></li>
            <!-- <li class="dep2"><a href="contact.html"><p>project request</p></a></li>
            <li class="dep2"><a href="cowork.html"><p>company register</p></a></li> -->
        </ul>
        <div class="nameCard">
            <div class="pWrap">
                <p><a href="tel:02-6404-9204">02.6404.9204</a></p>
                <p><a href="mailto:creative@monq.kr">creative@monq.kr</a></p>
                <p>서울시 마포구 성미산로 22길 18 프로젝트 A 1~3층<br>PROJECT A’ 1-3F, 18, Seongmisan-ro 22-gil, Mapo-gu, Seoul<br>© 2021 MONQ Co. Ltd. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>