<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="link-portfolio">
    <!-- <div id="brandFilmPlay"><a href="javascript:void(0)">brand film<span class="material-symbols-outlined">play_circle</span></a></div> -->
    <div id="brandFilmPlayDummy"><a href="https://youtu.be/MMk851OZLOg" target="blank">brand film<span class="material-symbols-outlined">play_circle</span></a></div>
    <a href="/MONQ_COMPANY Brief_2021C.pdf" download="MONQ_COMPANY_BRIEF" target="blank">회사소개<span class="material-symbols-outlined">download</span></a>
    <div class="center-border"></div>
    <a href="/MONQ_PORTFOLIO_2022.pdf" download="MONQ_PORTFOLIO" target="blank">포트폴리오<span class="material-symbols-outlined">download</span></a>
</div>