$primary-color: #e0b13d !default;
$secondary-color: #c40c1a !default;
$gray:#999999 !default;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("https://use.typekit.net/foo0wkh.css");         /* font-family: aktiv-grotesk, sans-serif; */

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 100;
  src: url(../font/AppleSDGothicNeoT.woff2) format('woff2'),
       url(../font/AppleSDGothicNeoT.woff) format('woff'),
       url(../font/AppleSDGothicNeoT.otf) format('opentype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 200;
  src: url(../font/AppleSDGothicNeoUL.woff2) format('woff2'),
       url(../font/AppleSDGothicNeoUL.woff) format('woff'),
       url(../font/AppleSDGothicNeoUL.otf) format('opentype');
}
@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 300;
  src: url(../font/AppleSDGothicNeoL.woff2) format('woff2'),
       url(../font/AppleSDGothicNeoL.woff) format('woff'),
       url(../font/AppleSDGothicNeoL.otf) format('opentype');
}
@font-face {
   font-family: 'AppleSDGothicNeo';
   font-style: normal;
   font-weight: 400;
   src: url(../font/AppleSDGothicNeoR.woff2) format('woff2'),
        url(../font/AppleSDGothicNeoR.woff) format('woff'),
        url(../font/AppleSDGothicNeoR.otf) format('opentype');
 }
@font-face {
   font-family: 'AppleSDGothicNeo';
   font-style: normal;
   font-weight: 500;
   src: url(../font/AppleSDGothicNeoM.woff2) format('woff2'),
        url(../font/AppleSDGothicNeoM.woff) format('woff'),
        url(../font/AppleSDGothicNeoM.otf) format('opentype');
 }
@font-face {
   font-family: 'AppleSDGothicNeo';
   font-style: normal;
   font-weight: 600;
   src: url(../font/AppleSDGothicNeoSB.woff2) format('woff2'),
        url(../font/AppleSDGothicNeoSB.woff) format('woff'),
        url(../font/AppleSDGothicNeoSB.otf) format('opentype');
 }
 @font-face {
   font-family: 'AppleSDGothicNeo';
   font-style: normal;
   font-weight: 700;
   src: url(../font/AppleSDGothicNeoB.woff2) format('woff2'),
        url(../font/AppleSDGothicNeoB.woff) format('woff'),
        url(../font/AppleSDGothicNeoB.otf) format('opentype');
 }
 @font-face {
   font-family: 'AppleSDGothicNeo';
   font-style: normal;
   font-weight: 800;
   src: url(../font/AppleSDGothicNeoEB.woff2) format('woff2'),
        url(../font/AppleSDGothicNeoEB.woff) format('woff'),
        url(../font/AppleSDGothicNeoEB.otf) format('opentype');
 }
 @font-face {
   font-family: 'AppleSDGothicNeo';
   font-style: normal;
   font-weight: 900;
   src: url(../font/AppleSDGothicNeoH.woff2) format('woff2'),
        url(../font/AppleSDGothicNeoH.woff) format('woff'),
        url(../font/AppleSDGothicNeoH.otf) format('opentype');
 }



 /***********************/
//  @font-face {
//     font-family: 'Helvetica';
//     font-style: normal;
//     font-weight: 300;
//     src: url(../font/Helvetica_Light.woff2) format('woff2'),
//          url(../font/Helvetica_Light.woff) format('woff'),
//          url(../font/Helvetica_Light.otf) format('opentype');
//   }
//   @font-face {
//      font-family: 'Helvetica';
//      font-style: normal;
//      font-weight: 400;
//      src: url(../font/Helvetica_Regualr.woff2) format('woff2'),
//           url(../font/Helvetica_Regualr.woff) format('woff'),
//           url(../font/Helvetica_Regualr.otf) format('opentype');
//    }
//   @font-face {
//      font-family: 'Helvetica';
//      font-style: normal;
//      font-weight: 600;
//      src: url(../font/Helvetica75-Bold.woff2) format('woff2'),
//           url(../font/Helvetica75-Bold.woff) format('woff'),
//           url(../font/Helvetica75-Bold.otf) format('opentype');
//    }
//    @font-face {
//      font-family: 'Helvetica';
//      font-style: normal;
//      font-weight: 900;
//      src: url(../font/Helvetica95-Black.woff2) format('woff2'),
//           url(../font/Helvetica95-Black.woff) format('woff'),
//           url(../font/Helvetica95-Black.otf) format('opentype');
//    }
  
  
 /***********************/

 @font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../font/NotoSansKR-Thin.woff2) format('woff2'),
       url(../font/NotoSansKR-Thin.woff) format('woff'),
       url(../font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  src: url(../font/NotoSansKR-DemiLight.woff2) format('woff2'),
       url(../font/NotoSansKR-DemiLight.woff) format('woff'),
       url(../font/NotoSansKR-DemiLight.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../font/NotoSansKR-Light.woff2) format('woff2'),
       url(../font/NotoSansKR-Light.woff) format('woff'),
       url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
        url(../font/NotoSansKR-Regular.woff) format('woff'),
        url(../font/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),
        url(../font/NotoSansKR-Medium.woff) format('woff'),
        url(../font/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 600;
   src: url(../font/NotoSansKR-Bold.woff2) format('woff2'),
        url(../font/NotoSansKR-Bold.woff) format('woff'),
        url(../font/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(../font/NotoSansKR-Black.woff2) format('woff2'),
        url(../font/NotoSansKR-Black.woff) format('woff'),
        url(../font/NotoSansKR-Black.otf) format('opentype');
 }


::selection {background-color: $secondary-color;color:#ffffff;}
body{font-family: 'aktiv-grotesk', 'AppleSDGothicNeo', sans-serif;width: 100%;max-width: 100%;overflow-x: hidden;}
.hidden{height: 100%;width: 100%;min-height: 100%;overflow: hidden !important;touch-action: none;}
.fake{opacity: 0;position: absolute;pointer-events: none;}
.guide-line-wrap{width: 100%;height: 100%;position: absolute;bottom: 0;pointer-events: none;}
.guide-line-wrap p{position: absolute;height: 100%;width: 1px;background-color: #99999920;}
.guide-line-wrap p:nth-child(1){left: 20px;}
.guide-line-wrap p:nth-child(2){left: 50%;}
.guide-line-wrap p:nth-child(3){right: 20px;}
nav{z-index: 1006;width: 100%;position: fixed;top: 0;display: flex;justify-content: space-between;padding: 24px 20px 10px;}
nav h1{width: 80px;}
nav h1 img{width: 100%;}
nav .navham{position: relative;width: 20px;height: 20px;}    
nav .navham span{transition-duration: 0.3s;position: absolute;width: 20px;height: 2px;background-color: #ffffff;}
nav .navham span:nth-child(1){top: 0;}
nav .navham span:nth-child(2){top: 6px;}
nav .navham span:nth-child(3){top: 12px;}
nav .navham span:nth-child(4){display: none;}
nav .navham.black-scroll span{background-color: #000000;}
nav .navham.white-scroll span{background-color: #ffffff;}
nav .navham.black span{background-color: #000000;}
nav .navham.black span:nth-child(1){transform:translate(0,6px) rotate(45deg);}
nav .navham.black span:nth-child(2){transform: scaleX(0);}
nav .navham.black span:nth-child(3){transform:translate(0,-6px) rotate(-45deg);}
nav .navham.white span{background-color: #ffffff;}
aside{z-index: 1005;width: 100%;height: 100%;transition-delay: 0.6s;opacity: 0;pointer-events: none;position: fixed;top: 0;
    .bg{pointer-events: none;position: absolute;width: 100%;height: 100%;}
    .bg .curtain{background-color: #fff;width:0%;height: 100%;position: absolute;transition-delay: 0.3s;transition-duration: 0.3s;}
    .bg .curtain .line{width: 1px;height:100%;background-color: #9999991a;position: absolute;}
    .bg .curtain:nth-child(1){left: 0;}
    .bg .curtain:nth-child(1) .line:nth-child(1){left: 20px;}
    .bg .curtain:nth-child(1) .line:nth-child(2){left: calc(100% - 1px);}
    .bg .curtain:nth-child(2){right: 0;}
    .bg .curtain:nth-child(2) .line{right: 20px;}
    .language{position: absolute;right:20px;top: 100px;z-index: 2005;color: #999999;overflow: hidden;display:none !important ;}
    .language .real{transition-duration: 0.3s;transform: translate(100%,0%);opacity: 0;}
    .asideContainer{padding: 0 20px;z-index: 2005 ;top: 20vh;height: 80%;position: absolute;width: 100%;display: block;}
    .asideContainer .asideMenu{width: 100%;overflow: hidden;}
    .asideContainer .asideMenu p{pointer-events: unset;font-weight: 600;font-size: 47px;color: black;transition-delay: 0s;transition-duration: 0.3s;transform: translate(-30%,0%);opacity: 0;}
    .asideContainer .touch{width: 100%;overflow: hidden;margin-top: 60px;font-family: 'aktiv-grotesk', 'AppleSDGothicNeo';}
    .asideContainer .touch p{color: black;transition-delay: 0s;transition-duration: 0.3s;transform: translate(0%,30%);opacity: 0;}
    .asideContainer .touch p:nth-child(1){font-size: 20px;font-weight: 800;}
    .asideContainer .touch p:nth-child(2){font-size: 12px;font-weight: 800;margin-top: 20px;}
    .asideContainer .touch p:nth-child(3){font-size: 12px;margin-top: 30px;color: #999999;}
    .asideContainer .row3{width: 100%;position: absolute;bottom: 40px;left: 0;padding: 0 20px;}
    .asideContainer .row3 .sns-btn{display: none;width: 50%;overflow: hidden;}
    .asideContainer .row3 .sns-btn .sns{display: flex;}
    .asideContainer .row3 .sns-btn li{margin-right: 30px;width: 20px;}
    .asideContainer .row3 .sns-btn li .cls-1{fill: #000000;}
    .asideContainer .row3 .sns-btn li .cls-2{fill: none;}
    .asideContainer .row3 .sns-btn .real{opacity: 0;transition-delay: 0s;transition-duration: 0.6s;transform: translate(0%,100%);  }
    .asideContainer .row3 .download {width: 100%;}
    .asideContainer .row3 .download ul{display: flex;justify-content: space-between;}
    .asideContainer .row3 .download ul li{width: 50%;font-size: 14px;}
    .asideContainer .row3 .download ul li a img{width: 14px;height: 14px;margin-left: 8px;}        
    .asideContainer .row3 .download .real{transition-duration: 0.3s;transform: translate(0%,100%);opacity: 0;transition-delay: 0s;}
}
aside.on{transition-delay: 0s;transform: translate(0%,0%);opacity: 1;pointer-events: unset;
    .bg{transition-delay: 0s;}
    .bg .curtain{width: 50%;}
    .language .real{transform: translate(0%,0%);opacity: 1;transition-delay: 0.5s;}
    .asideContainer .asideMenu a:nth-child(1) p{transition-delay: 0.55s;}
    .asideContainer .asideMenu a:nth-child(2) p{transition-delay: 0.6s;}
    .asideContainer .asideMenu a:nth-child(3) p{transition-delay: 0.65s;}
    .asideContainer .asideMenu a:nth-child(4) p{transition-delay: 0.7s;}
    .asideContainer .asideMenu p{transform: translate(0%,0%);opacity: 1;}
    .asideContainer .asideMenu p.on{color: $secondary-color;}
    .asideContainer .touch p{transform: translate(0%,0%);opacity: 1;}
    .asideContainer .touch p:nth-child(1){transition-delay: 0.75s;}
    .asideContainer .touch p:nth-child(2){transition-delay: 0.8s;}
    .asideContainer .touch p:nth-child(3){transition-delay: 0.85s;}
    .asideContainer .touch p:nth-child(4){transition-delay: 0.9s;}
    .asideContainer .sns-btn .real{opacity: 1;transition-delay: 0.3s;transition-duration: 0.6s;transform: translate(0%,0%);}
    .asideContainer .row3 .download ul{display: flex;justify-content: space-between;}
    .asideContainer .row3 .download ul li{font-size: 14px;}
    .asideContainer .row3 .download .real{transform: translate(0%,0%);opacity: 1;transition-delay: 0.6s;}
}
aside.show{transition-delay: 0s;transform: translate(0%,0%);opacity: 1;pointer-events: unset;
    .bg{transition-delay: 0s;}
    .bg .curtain{width: 50%;}
}
@media screen and(min-width:700px){
    .guide-line-wrap{
        p{
        &:nth-child(1){left: 60px;}
        &:nth-child(2){left: 50%;}
        &:nth-child(3){right: 60px;}
        }
    }
    nav{
        padding: 40px 60px 10px;
    }
    aside{
        .bg{
            .curtain:nth-child(1){
                left: 0;
                .line:nth-child(1){
                    left: 60px;
                }
            }
            .curtain:nth-child(2){
                right: 0;
                .line{
                    right: 60px;
                }
            }
        }
        .language{
            right:60px;
        }
        .asideContainer{
            padding: 0 60px;
            .asideMenu{
                p{
                    font-size: 70px;
                }
            }
            .touch{
                margin-top: 60px;
                p:nth-child(1){font-size: 24px;}
                p:nth-child(2){font-size: 16px;margin-top: 24px;}
                p:nth-child(3){font-size: 16px;margin-top: 34px;}
            }
            .row3{
                padding: 0 60px;
                .sns-btn{
                    li{
                        margin-right: 30px;
                        width: 20px;
                        .cls-1{fill: #000000;}
                        .cls-2{fill: none;}
                    }
                    .real{
                        opacity: 0;
                        transition-delay: 0s;
                        transition-duration: 0.6s;
                        transform: translate(0%,100%);  
                    }
                }
                .download {
                    ul{
                        display: flex;
                        justify-content: space-between;
                        li{
                            font-size: 14px;
                        }
                    }
                    .real{
                        transition-duration: 0.3s;
                        transform: translate(0%,100%);
                        opacity: 0;
                        transition-delay: 0s;
                    }
                }
            }
        }
    }
}
@media screen and(min-width:1023px){
    .guide-line-wrap{
        p{
        &:nth-child(1){left: 80px;}
        &:nth-child(2){left: 50%;}
        &:nth-child(3){right: 80px;}
        }
    }
    nav{
        padding: 30px 80px 10px;
    }
    aside{
        .bg{
            .curtain:nth-child(1){
                left: 0;
                .line:nth-child(1){
                    left: 80px;
                }
            }
            .curtain:nth-child(2){
                right: 0;
                .line{
                    right: 80px;
                }
            }
        }
        .language{
            right:80px;
        }
        .asideContainer{
            padding: 0 80px;
            display: flex;
            .asideMenu{
                width: 50%;
                p{
                    font-size: 70px;
                }
            }
            .touch{
                width: 50%;
                margin-top: 20px;
                p:nth-child(1){font-size: 24px;}
                p:nth-child(2){font-size: 16px;margin-top: 24px;}
                p:nth-child(3){font-size: 16px;margin-top: 34px;}
            }
            .row3{
                padding: 0 80px;
                bottom: 40px;
                .sns-btn{
                    li{
                        margin-right: 30px;
                        width: 20px;
                        .cls-1{fill: #000000;}
                        .cls-2{fill: none;}
                    }
                    .real{
                        opacity: 0;
                        transition-delay: 0s;
                        transition-duration: 0.6s;
                        transform: translate(0%,100%);  
                    }
                }
                .download {
                    ul{
                        display: flex;
                        justify-content: space-between;
                        li{
                            font-size: 14px;
                        }
                    }
                    .real{
                        transition-duration: 0.3s;
                        transform: translate(0%,100%);
                        opacity: 0;
                        transition-delay: 0s;
                    }
                }
            }
        }
    }
}