@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 100;
  src: url(../font/AppleSDGothicNeoT.woff2) format("woff2"), url(../font/AppleSDGothicNeoT.woff) format("woff"), url(../font/AppleSDGothicNeoT.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 200;
  src: url(../font/AppleSDGothicNeoUL.woff2) format("woff2"), url(../font/AppleSDGothicNeoUL.woff) format("woff"), url(../font/AppleSDGothicNeoUL.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 300;
  src: url(../font/AppleSDGothicNeoL.woff2) format("woff2"), url(../font/AppleSDGothicNeoL.woff) format("woff"), url(../font/AppleSDGothicNeoL.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 400;
  src: url(../font/AppleSDGothicNeoR.woff2) format("woff2"), url(../font/AppleSDGothicNeoR.woff) format("woff"), url(../font/AppleSDGothicNeoR.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 500;
  src: url(../font/AppleSDGothicNeoM.woff2) format("woff2"), url(../font/AppleSDGothicNeoM.woff) format("woff"), url(../font/AppleSDGothicNeoM.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 600;
  src: url(../font/AppleSDGothicNeoSB.woff2) format("woff2"), url(../font/AppleSDGothicNeoSB.woff) format("woff"), url(../font/AppleSDGothicNeoSB.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 700;
  src: url(../font/AppleSDGothicNeoB.woff2) format("woff2"), url(../font/AppleSDGothicNeoB.woff) format("woff"), url(../font/AppleSDGothicNeoB.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 800;
  src: url(../font/AppleSDGothicNeoEB.woff2) format("woff2"), url(../font/AppleSDGothicNeoEB.woff) format("woff"), url(../font/AppleSDGothicNeoEB.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 900;
  src: url(../font/AppleSDGothicNeoH.woff2) format("woff2"), url(../font/AppleSDGothicNeoH.woff) format("woff"), url(../font/AppleSDGothicNeoH.otf) format("opentype");
}

/***********************/
/***********************/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../font/NotoSansKR-Thin.woff2) format("woff2"), url(../font/NotoSansKR-Thin.woff) format("woff"), url(../font/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  src: url(../font/NotoSansKR-DemiLight.woff2) format("woff2"), url(../font/NotoSansKR-DemiLight.woff) format("woff"), url(../font/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../font/NotoSansKR-Light.woff2) format("woff2"), url(../font/NotoSansKR-Light.woff) format("woff"), url(../font/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../font/NotoSansKR-Regular.woff2) format("woff2"), url(../font/NotoSansKR-Regular.woff) format("woff"), url(../font/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../font/NotoSansKR-Medium.woff2) format("woff2"), url(../font/NotoSansKR-Medium.woff) format("woff"), url(../font/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: url(../font/NotoSansKR-Bold.woff2) format("woff2"), url(../font/NotoSansKR-Bold.woff) format("woff"), url(../font/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(../font/NotoSansKR-Black.woff2) format("woff2"), url(../font/NotoSansKR-Black.woff) format("woff"), url(../font/NotoSansKR-Black.otf) format("opentype");
}

div.curtainCall div.curtain {
  border-right: 0.1px solid #dddddd;
}

aside.side {
  z-index: 9999;
  width: 160px;
  height: 100%;
  position: fixed;
  padding: 80px 0 80px 40px;
}

aside.side h1 {
  position: absolute;
}

aside.side h1 a {
  display: block;
  width: 80px;
  height: 29px;
}

aside.side .btn-ham {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

aside.side .btn-ham .rel span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  background-color: black;
  width: 4px;
  height: 4px;
  border-radius: 3px;
}

aside.side .btn-ham .rel span:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

aside.side .btn-ham .rel span:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

aside.side .btn-ham .rel span:nth-child(3) {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

aside.side .btn-ham .rel span:nth-child(4) {
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

aside.side .btn-ham.on .rel span:nth-child(1) {
  -webkit-transform: translate(2px, 2px) rotate(45deg);
          transform: translate(2px, 2px) rotate(45deg);
}

aside.side .btn-ham.on .rel span:nth-child(2) {
  -webkit-transform: translate(-2px, 2px) rotate(-45deg);
          transform: translate(-2px, 2px) rotate(-45deg);
}

aside.side .btn-ham.on .rel span:nth-child(3) {
  -webkit-transform: translate(-2px, -2px) rotate(225deg);
          transform: translate(-2px, -2px) rotate(225deg);
}

aside.side .btn-ham.on .rel span:nth-child(4) {
  -webkit-transform: translate(2px, -2px) rotate(-225deg);
          transform: translate(2px, -2px) rotate(-225deg);
}

aside.side .btn-ham.activate {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

aside.side .btn-ham.activate .rel span.activate {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 12px;
}

aside.side .btn-ham.activate .rel span.activate:nth-child(1) {
  -webkit-transform: translate(-4px, -1px) rotate(45deg);
          transform: translate(-4px, -1px) rotate(45deg);
}

aside.side .btn-ham.activate .rel span.activate:nth-child(2) {
  -webkit-transform: translate(4px, -1px) rotate(-45deg);
          transform: translate(4px, -1px) rotate(-45deg);
}

aside.side .btn-ham.activate .rel span.activate:nth-child(3) {
  -webkit-transform: translate(4px, -1px) rotate(225deg);
          transform: translate(4px, -1px) rotate(225deg);
}

aside.side .btn-ham.activate .rel span.activate:nth-child(4) {
  -webkit-transform: translate(-4px, -1px) rotate(-225deg);
          transform: translate(-4px, -1px) rotate(-225deg);
}

aside.side ul.sns {
  position: absolute;
  bottom: 80px;
}

aside.side ul.sns li:nth-of-type(2) {
  margin: 40px 0;
}

.fixedContent .scrollAnimation {
  color: black;
}

.fixedContent .scrollAnimation .bar {
  background-color: #cecece;
}

.fixedContent .scrollAnimation .bar .point {
  background-color: black;
}

.link-portfolio a {
  color: black;
}

.link-portfolio .center-border {
  border-right: 1px solid #7f7f7f;
}

.link-works a p {
  color: black;
}

.link-works a svg .cls-1 {
  fill: black;
}

.link-language a {
  color: #999999;
}

.link-language a.on {
  color: black;
}

.link-language a.on::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 23px;
  height: 2px;
  background-color: black;
}
/*# sourceMappingURL=withus.css.map */