@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 100;
  src: url(../font/AppleSDGothicNeoT.woff2) format("woff2"), url(../font/AppleSDGothicNeoT.woff) format("woff"), url(../font/AppleSDGothicNeoT.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 200;
  src: url(../font/AppleSDGothicNeoUL.woff2) format("woff2"), url(../font/AppleSDGothicNeoUL.woff) format("woff"), url(../font/AppleSDGothicNeoUL.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 300;
  src: url(../font/AppleSDGothicNeoL.woff2) format("woff2"), url(../font/AppleSDGothicNeoL.woff) format("woff"), url(../font/AppleSDGothicNeoL.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 400;
  src: url(../font/AppleSDGothicNeoR.woff2) format("woff2"), url(../font/AppleSDGothicNeoR.woff) format("woff"), url(../font/AppleSDGothicNeoR.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 500;
  src: url(../font/AppleSDGothicNeoM.woff2) format("woff2"), url(../font/AppleSDGothicNeoM.woff) format("woff"), url(../font/AppleSDGothicNeoM.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 600;
  src: url(../font/AppleSDGothicNeoSB.woff2) format("woff2"), url(../font/AppleSDGothicNeoSB.woff) format("woff"), url(../font/AppleSDGothicNeoSB.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 700;
  src: url(../font/AppleSDGothicNeoB.woff2) format("woff2"), url(../font/AppleSDGothicNeoB.woff) format("woff"), url(../font/AppleSDGothicNeoB.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 800;
  src: url(../font/AppleSDGothicNeoEB.woff2) format("woff2"), url(../font/AppleSDGothicNeoEB.woff) format("woff"), url(../font/AppleSDGothicNeoEB.otf) format("opentype");
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 900;
  src: url(../font/AppleSDGothicNeoH.woff2) format("woff2"), url(../font/AppleSDGothicNeoH.woff) format("woff"), url(../font/AppleSDGothicNeoH.otf) format("opentype");
}

/***********************/
/***********************/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../font/NotoSansKR-Thin.woff2) format("woff2"), url(../font/NotoSansKR-Thin.woff) format("woff"), url(../font/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  src: url(../font/NotoSansKR-DemiLight.woff2) format("woff2"), url(../font/NotoSansKR-DemiLight.woff) format("woff"), url(../font/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../font/NotoSansKR-Light.woff2) format("woff2"), url(../font/NotoSansKR-Light.woff) format("woff"), url(../font/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../font/NotoSansKR-Regular.woff2) format("woff2"), url(../font/NotoSansKR-Regular.woff) format("woff"), url(../font/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../font/NotoSansKR-Medium.woff2) format("woff2"), url(../font/NotoSansKR-Medium.woff) format("woff"), url(../font/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: url(../font/NotoSansKR-Bold.woff2) format("woff2"), url(../font/NotoSansKR-Bold.woff) format("woff"), url(../font/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(../font/NotoSansKR-Black.woff2) format("woff2"), url(../font/NotoSansKR-Black.woff) format("woff"), url(../font/NotoSansKR-Black.otf) format("opentype");
}

@-webkit-keyframes introUp {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes introUp {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@-webkit-keyframes titleAnimation {
  0% {
    -webkit-transform: translateY(240px);
            transform: translateY(240px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  58% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-240px);
            transform: translateY(-240px);
    opacity: 1;
  }
}

@keyframes titleAnimation {
  0% {
    -webkit-transform: translateY(240px);
            transform: translateY(240px);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  58% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-240px);
            transform: translateY(-240px);
    opacity: 1;
  }
}

@-webkit-keyframes wordRise {
  0% {
    -webkit-transform: translateY(48px);
            transform: translateY(48px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wordRise {
  0% {
    -webkit-transform: translateY(48px);
            transform: translateY(48px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes curtainUp {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
}

@keyframes curtainUp {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
}

.client-name {
  display: none;
}

aside {
  background-color: rgba(0, 0, 0, 0);
}

aside ul.work-choice {
  width: 160px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 136px;
}

aside ul.work-choice li {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-family: 'AppleSDGothicNeo';
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 12px;
  font-weight: 800;
}

aside ul.work-choice li.on {
  color: #c40c1a;
}

aside ul.work-choice.on {
  left: 40px;
  opacity: 1;
  pointer-events: unset;
}

div.curtainCall div.curtain {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  z-index: 9998;
}

div.curtainCall div.curtain .blackSquare {
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 9998;
}

div.curtainCall div.curtain .border {
  z-index: 9998;
}

div.curtainCall.on div.curtain:nth-child(1) {
  -webkit-transition-delay: 2.08333s;
          transition-delay: 2.08333s;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

div.curtainCall.on div.curtain:nth-child(2) {
  -webkit-transition-delay: 2.16667s;
          transition-delay: 2.16667s;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

div.curtainCall.on div.curtain:nth-child(3) {
  -webkit-transition-delay: 2.25s;
          transition-delay: 2.25s;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

div.curtainCall.on div.curtain:nth-child(4) {
  -webkit-transition-delay: 2.33333s;
          transition-delay: 2.33333s;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

div.curtainCall.on div.curtain:nth-child(5) {
  -webkit-transition-delay: 2.41667s;
          transition-delay: 2.41667s;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

div.curtainCall.on div.curtain:nth-child(6) {
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

div.curtainCall.on div.curtain:nth-child(7) {
  -webkit-transition-delay: 2.58333s;
          transition-delay: 2.58333s;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.intro .introWrap .introTitle{width: 100%;}
.intro {
  z-index: 9998;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: 1s 2.2s introUp forwards ease;
          animation: 1s 2.2s introUp forwards ease;
}

.intro .introWrap {
  width: 100%;
  height: 100%;
}

.intro .introWrap .introTitle {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.intro .introWrap .introTitle .real {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.intro .introWrap .introTitle .introTitleHead {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: white;
  font-size: 240px;
  font-weight: lighter;
}

.intro .introWrap .introTitle .introTitleHead .wordSplit {
  overflow: hidden;
}

.intro .introWrap .introTitle .introTitleHead .wordSplit span:nth-child(1) {
  display: inline-block;
  -webkit-transform: translateY(240px);
          transform: translateY(240px);
  -webkit-animation: 3.2s 0.06667s titleAnimation forwards;
          animation: 3.2s 0.06667s titleAnimation forwards;
}

.intro .introWrap .introTitle .introTitleHead .wordSplit span:nth-child(2) {
  display: inline-block;
  -webkit-transform: translateY(240px);
          transform: translateY(240px);
  -webkit-animation: 3.2s 0.13333s titleAnimation forwards;
          animation: 3.2s 0.13333s titleAnimation forwards;
}

.intro .introWrap .introTitle .introTitleHead .wordSplit span:nth-child(3) {
  display: inline-block;
  -webkit-transform: translateY(240px);
          transform: translateY(240px);
  -webkit-animation: 3.2s 0.2s titleAnimation forwards;
          animation: 3.2s 0.2s titleAnimation forwards;
}

.intro .introWrap .introTitle .introTitleHead .wordSplit span:nth-child(4) {
  display: inline-block;
  -webkit-transform: translateY(240px);
          transform: translateY(240px);
  -webkit-animation: 3.2s 0.26667s titleAnimation forwards;
          animation: 3.2s 0.26667s titleAnimation forwards;
}

.intro .introWrap .introTitle .introTitleHead .wordSplit span:nth-child(5) {
  display: inline-block;
  -webkit-transform: translateY(240px);
          transform: translateY(240px);
  -webkit-animation: 3.2s 0.33333s titleAnimation forwards;
          animation: 3.2s 0.33333s titleAnimation forwards;
}

.intro .introWrap .introTitle .p1, .intro .introWrap .introTitle .p2 {
  overflow: hidden;
  position: relative;
  color: white;
  font-size: 24px;
  letter-spacing: -0.2px;
  font-family: 'AppleSDGothicNeo';
  font-weight: 300;
  margin-top: 78px;
  color: #999999;
}

.intro .introWrap .introTitle .p1 b, .intro .introWrap .introTitle .p2 b {
  color: #ffffff;
  font-family: 'AppleSDGothicNeo';
  font-weight: 700;
}

.intro .introWrap .introTitle .p1 .real, .intro .introWrap .introTitle .p2 .real {
  opacity: 0;
  -webkit-animation: 0.6s 0.6s wordRise forwards;
          animation: 0.6s 0.6s wordRise forwards;
}

.intro .introWrap .introTitle .p2 {
  line-height: 28px;
  color: #999999;
  font-size: 18px;
  margin-top: 38px;
}

.thumb {
  width: calc(100% - 160px);
  padding-left: 160px;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  z-index: 9991;
}

.thumb .thumb-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 2200px;
  margin: auto;
}

.thumb .figure {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.thumb .figure .clipBoard, .thumb .figure .blackfilter {
  position: absolute;
  width: 100%;
  height: 100%;
}

.thumb .figure .clipBoard {
  opacity: 0.8;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-clip-path: inset(10% 10% 10% 10%);
          clip-path: inset(10% 10% 10% 10%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.thumb .figure .blackfilter {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  background-color: rgba(0, 0, 0, 0.3);
}

.thumb .figure .figureTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.thumb .figure .figureTitle .p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  text-align: center;
  color: white;
  font-size: clamp(24px, 1.8vw, 50px);
  font-weight: 600;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.thumb .figure .figureTitle .p1 b {
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  display: block;
  margin-top: 0px;
  margin-left: 6px;
}

.thumb .figure.on .clipBoard {
  opacity: 1;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
}

.thumb .figure.on .blackfilter {
  background-color: rgba(0, 0, 0, 0);
}

.thumb .figure.on .figureTitle .p1 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.thumb .figure1 {
  left: 25%;
  top: 0%;
}

.thumb .figure1 .clipBoard {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-image: url(../img/work_figure1.jpg);
}

.thumb .figure1.selected {
  left: 50%;
}

.thumb .figure1.non-selected {
  left: -50%;
}

.thumb .figure2 {
  left: 75%;
  top: 0%;
}

.thumb .figure2 .clipBoard {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-image: url(../img/work_figure2.jpg);
}

.thumb .figure2.selected {
  left: 50%;
}

.thumb .figure2.non-selected {
  left: 125%;
}

.thumb.open {
  top: -100%;
}

.main {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.main .mainCurtain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main .mainCurtain div.curtain {
  width: 15%;
  height: 100%;
  float: left;
  position: relative;
}

.main .mainCurtain div.curtain:nth-of-type(1) {
  width: 16%;
}

.main .mainCurtain div.curtain:nth-of-type(2) {
  width: 34%;
}

.main .mainCurtain div.curtain:nth-of-type(3) {
  width: 34%;
}

.main .mainCurtain div.curtain:nth-of-type(4) {
  width: 16%;
}

.main .mainCurtain div.curtain:nth-of-type(5) {
  display: none;
}

.main .mainCurtain div.curtain:nth-of-type(6) {
  display: none;
}

.main .mainCurtain div.curtain:nth-of-type(7) {
  display: none;
  width: 7.5%;
}

.main .mainCurtain div.curtain .border {
  z-index: 9990;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-right: 0.1px solid rgba(255, 255, 255, 0.1);
}

.main .workContent {
  overflow: hidden;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main .workContent.show {
  top: 0%;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main .workContent.show .title-container ul.title-wrap li.title-list p {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.main .workContent.show .title-container ul.title-wrap li.title-list p.project-title {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.main .workContent.show .title-container ul.title-wrap li.title-list p.project-name {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.main .workContent.show .title-container ul.title-wrap li.title-list p.client-name {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
  display: none;
}

.main .workContent.hide {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main .workContent.hide .title-container ul.title-wrap li.title-list p {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
}

.main .workContent.hide .title-container ul.title-wrap li.title-list p.project-title {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.main .workContent.hide .title-container ul.title-wrap li.title-list p.project-name {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.main .workContent.hide .title-container ul.title-wrap li.title-list p.client-name {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.main .workContent.on {
  top: 0%;
}

.main .workContent.on .title-container ul.title-wrap li.title-list p {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.main .workContent.on .title-container ul.title-wrap li.title-list p.project-title {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.main .workContent.on .title-container ul.title-wrap li.title-list p.project-name {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
}

.main .workContent.on .title-container ul.title-wrap li.title-list p.client-name {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.main .workContent .figure-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9990;
}

.main .workContent .figure-container ul.figure-wrap {
  left: 32.5%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 140px;
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
  -webkit-transition-timing-function: cubic-bezier(0.76, 0.04, 0.17, 1.01);
          transition-timing-function: cubic-bezier(0.76, 0.04, 0.17, 1.01);
}

.main .workContent .figure-container ul.figure-wrap li.figure-list {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  width: 51.5vw;
  position: relative;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list .figure-small-text, .main .workContent .figure-container ul.figure-wrap li.figure-list .figure-playTime {
  font-size: 14px;
  opacity: 0;
  position: absolute;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: translate(0%, calc(-100% - 10px));
          transform: translate(0%, calc(-100% - 10px));
  color: rgba(255, 255, 255, 0.6);
  top: 0;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list .figure-small-text {
  display: none;
  left: 0;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list .figure-playTime {
  right: 0;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list .img {
  pointer-events: none;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(-50%, 0%) scale(0.69);
          transform: translate(-50%, 0%) scale(0.69);
  top: 0%;
  left: 50%;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list .img img {
  width: 100%;
  height: 100%;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list.on {
  opacity: 1;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list.on .img {
  pointer-events: unset;
  -webkit-transform: translate(-50%, 0%) scale(1);
          transform: translate(-50%, 0%) scale(1);
}

.main .workContent .figure-container ul.figure-wrap li.figure-list.on .figure-small-text, .main .workContent .figure-container ul.figure-wrap li.figure-list.on .figure-playTime {
  opacity: 1;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list.next {
  opacity: 1;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list.prev {
  opacity: 0;
}

.main .workContent .figure-container ul.figure-wrap li.figure-list.prev .img {
  -webkit-transform: translate(-80%, 0%) scale(1);
          transform: translate(-80%, 0%) scale(1);
}

.main .workContent .title-container {
  pointer-events: none;
  z-index: 9991;
  width: 100%;
  height: clamp(300px, 20vw, 420px);
  position: absolute;
  left: 16%;
  -webkit-transform: trasnlate(0%, -3vw);
          transform: trasnlate(0%, -3vw);
  top: clamp(200px, 24vw, 500px);
  margin-top: clamp(-24px, -3vw, -48px);
  overflow: hidden;
}

.main .workContent .title-container .title-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.main .workContent .title-container .title-wrap .title-list {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  opacity: 0;
  -webkit-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  position: absolute;
  bottom: 0;
}

.main .workContent .title-container .title-wrap .title-list p {
  -webkit-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: white;
  font-weight: 600;
}

.main .workContent .title-container .title-wrap .title-list p.project-title {
  font-family: 'AppleSDGothicNeo';
  font-size: 22px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.main .workContent .title-container .title-wrap .title-list p.project-name {
  line-height: clamp(60px, 4vw, 80px);
  font-size: clamp(48px, 3.55vw, 80px);
  margin-top: 1.25vw;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.main .workContent .title-container .title-wrap .title-list p.client-name {
  font-family: 'AppleSDGothicNeo';
  font-weight: 800;
  font-size: 16px;
  margin-top: 2.7vw;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.main .workContent .title-container .title-wrap .title-list.on {
  opacity: 1;
  -webkit-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
}

.main .workContent .title-container .title-wrap .title-list.up {
  opacity: 0;
  -webkit-transform: translate(0px, -10%);
          transform: translate(0px, -10%);
}

.main .workContent .count-container {
  display: none;
  z-index: 9990;
  position: absolute;
  top: 188px;
  left: 17.5%;
  width: 90px;
  height: 84px;
  pointer-events: none;
}

.main .workContent .count-container .count-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.main .workContent .count-container .count-wrap .count-wrap-back, .main .workContent .count-container .count-wrap .count-wrap-front {
  position: absolute;
  top: 0;
}

.main .workContent .count-container .count-wrap .count-wrap-back .count-list, .main .workContent .count-container .count-wrap .count-wrap-front .count-list {
  position: absolute;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  opacity: 0;
  -webkit-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  font-size: 48px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #fff;
}

.main .workContent .count-container .count-wrap .count-wrap-back .count-list.on, .main .workContent .count-container .count-wrap .count-wrap-front .count-list.on {
  opacity: 1;
  -webkit-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
}

.main .workContent .count-container .count-wrap .count-wrap-back .count-list.up, .main .workContent .count-container .count-wrap .count-wrap-front .count-list.up {
  opacity: 0;
  -webkit-transform: translate(0px, -20%);
          transform: translate(0px, -20%);
}

.main .workContent .count-container .count-wrap .count-wrap-front {
  left: 0;
}

.main .workContent .count-container .count-wrap .count-wrap-back {
  left: 26px;
}

.main .workContent .count-container .count-wrap .count-wrap-back .count-list {
  -webkit-transform: translate(0px, -20%);
          transform: translate(0px, -20%);
}

.main .workContent .count-container .count-wrap .count-wrap-back .count-list.on {
  opacity: 1;
  -webkit-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
}

.main .workContent .count-container .count-wrap .count-wrap-back .count-list.up {
  opacity: 0;
  -webkit-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
}

.main .workContent .count-container .count-wrap .total {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  left: 75%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.main .workContent .count-container .count-wrap .line {
  width: 42px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 55px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.main .filmContent {
  top: -100%;
}

.main .mediaContent {
  top: 100%;
}

.main .background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #acaebd;
}

.main .background-container .background-wrap {
  width: 100%;
  height: 100%;
}

.main .background-container .background-wrap .background-list {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.main .background-container .background-wrap .background-list .black-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  opacity: 0.4;
}

.main .background-container .background-wrap .background-list img {
  width: 100%;
  position: absolute;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 1;
}

.main .background-container .background-wrap .background-list.on {
  opacity: 1;
}

@media screen and (min-width: 1380px) {
  aside ul.work-choice {
    top: 197px;
  }
  aside ul.work-choice li {
    font-size: 15px;
  }
  .thumb .thumb-wrap {
    max-width: 2200px;
  }
  .thumb .figure .figureTitle .p1 {
    font-size: clamp(30px, 2vw, 60px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .thumb .figure .figureTitle .p1 b {
    margin-left: 6px;
  }
  .thumb .figure.on .figureTitle .p1 {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .thumb .figure1 {
    left: 25%;
    top: 0%;
  }
  .thumb .figure2 {
    left: 75%;
    top: 0%;
  }
  .thumb .figure2 .clipBoard {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    background-image: url(../img/work_figure2.jpg);
  }
  .main .mainCurtain div.curtain {
    width: 15%;
  }
  .main .mainCurtain div.curtain:nth-of-type(1) {
    width: 17.5%;
  }
  .main .mainCurtain div.curtain:nth-of-type(2) {
    width: 15%;
  }
  .main .mainCurtain div.curtain:nth-of-type(3) {
    width: 15%;
  }
  .main .mainCurtain div.curtain:nth-of-type(4) {
    width: 15%;
  }
  .main .mainCurtain div.curtain:nth-of-type(5) {
    width: 15%;
    display: block;
  }
  .main .mainCurtain div.curtain:nth-of-type(6) {
    width: 15%;
    display: block;
  }
  .main .mainCurtain div.curtain:nth-of-type(7) {
    width: 7.5%;
    display: block;
  }
  .main .mainCurtain div.curtain .border {
    z-index: 9990;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 0.1px solid rgba(255, 255, 255, 0.1);
  }
  .main .workContent .figure-container ul.figure-wrap {
    left: 32.5%;
    top: 200px;
  }
  .main .workContent .figure-container ul.figure-wrap li.figure-list {
    width: 52.5vw;
  }
  .main .workContent .figure-container ul.figure-wrap li.figure-list .img {
    -webkit-transform: translate(-50%, 0%) scale(0.715);
            transform: translate(-50%, 0%) scale(0.715);
  }
  .main .workContent .title-container {
    height: clamp(300px, 20vw, 420px);
    left: 17.5%;
    -webkit-transform: trasnlate(0%, -3vw);
            transform: trasnlate(0%, -3vw);
    top: clamp(400px, 25vw, 500px);
    margin-top: clamp(-24px, -3vw, -48px);
  }
  .main .workContent .title-container .title-wrap .title-list p.project-title {
    font-size: 22px;
  }
  .main .workContent .title-container .title-wrap .title-list p.project-name {
    line-height: clamp(60px, 4vw, 80px);
    font-size: clamp(48px, 3.55vw, 80px);
    margin-top: 1.25vw;
  }
  .main .workContent .title-container .title-wrap .title-list p.client-name {
    font-size: 16px;
    margin-top: 2.7vw;
  }
  .main .workContent .count-container {
    top: 188px;
    left: 17.5%;
    width: 90px;
    height: 84px;
  }
  .main .workContent .count-container .count-wrap .count-wrap-back .count-list, .main .workContent .count-container .count-wrap .count-wrap-front .count-list {
    font-size: 48px;
  }
  .main .workContent .count-container .count-wrap .total {
    font-size: 24px;
  }
  .main .workContent .count-container .count-wrap .line {
    top: 50px;
    left: 55px;
  }
}
/*# sourceMappingURL=work.css.map */